
<div class="bg-white p-5 rounded-lg m-3">
  <h1 class="display-4">Bem-vindo ao KaioDev!</h1>
  <p class="lead">Isso é apenas um projeto que estou fazendo no curso de Node JS do Victor lima, se sinta a vontade!</p>
</div>
<h2>Postagens recentes</h2>
<hr>
{{#each postagens}}
<div class="card mt-3 postagem" onclick="location.href='/postagens/{{slug}}'">
    <img src="{{imagem}}" alt="{{titulo}}" style="width: 100%; height: auto;">
    <div class="card-body">
        <h4>{{titulo}}</h4>
        <p>{{descricao}}</p>
    </div>
</div>
{{else}}
<h4>Nenhuma postagem feita nesta categoria!</h4>
{{/each}}

{{#if user}}
<a href="/usuarios/logout"><button style="position: fixed; bottom: 20px; right: 20px;" class="btn btn-danger">Logout</button></a>
{{/if}}