<div class="card">
    <div class="card-body">
    <h1>{{postagem.titulo}}</h1>
    <hr>
    {{postagem.conteudo}} <br>
    <img src="{{postagem.imagem}}" alt="{{postagem.titulo}}" width="540" height="300" class="mt-4">
    <hr>
    <p>{{postagem.data}}</p>
    </div>
</div>